/* GFM task list */
.gfm-task-list {
  border: 1px solid transparent;
  list-style-type: none;
}
.gfm-task-list input {
  margin-right: 10px !important;
}

.katex-container {
  margin: 25px !important;
  text-align: center;
}
.katex-container.katex-inline {
  display: inline-block !important;
  background: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

pre .katex-container {
  font-size: 1.4em !important;
}
